<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Members Only</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Members Only</h1>
      <nav>
        <% if (currentUser) { %>
        <p>Welcome <%= currentUser.username %></p>
        <a href="/logout">Log Out</a>
        <a href="/new-message">New Message</a>
        <% } else { %>
        <a href="/login">Log In</a>
        <a href="/sign-up">Sign Up</a>
        <% } %>
      </nav>
    </header>
  </body>
</html>
