<%- include('partials/head')%>
        <form action="/new-message" method="POST" class="forms">
            <h2>New Message</h2>
            <fieldset class="info-fields">
                <label for="title">
                    Title
                    <input type="text" name="title" required>
                </label>
                <label for="message">
                    Message
                    <textarea name="message" required></textarea>
                </label>
            </fieldset>
            <fieldset>
                <input type="submit" value="Sign Up" class="submit-button">
                <a href="/" class="cancel-button">Cancel</a>
            </fieldset>
        </form>
    </body>
</html>