<%- include('partials/head')%>
        <h1>Sign Up</h1>
        <form action="" method="POST">
            <fieldset>
                <label for="username">
                    Username
                    <input type="text" name="username" required>
                </label>
                <label for="password">
                    Password
                    <input type="password" name="password" required>
                </label>
                <label for="confirmPassword">
                    Confirm Password
                    <input type="password" name="confirmPassword" required>
                </label>
            </fieldset>
            <fieldset>
                <input type="submit" value="Sign Up">
            </fieldset>
        </form>
    </body>
</html>