<%- include('partials/head')%>
        <form action="" method="POST">
            <h2>Sign Up</h2>
            <fieldset class="info-fields">
                <label for="username">
                    Username
                    <input type="text" name="username" required>
                    <p class="error-messages"><%= usernameError %></p>
                </label>
                <label for="password">
                    Password
                    <input type="password" name="password" required>
                </label>
                <label for="confirmPassword">
                    Confirm Password
                    <input type="password" name="confirmPassword" required>
                    <p class="error-messages"><%= passwordError %></p>
                </label>
            </fieldset>
            <fieldset >
                <input type="submit" value="Sign Up" class="submit-button">
                <a href="/" class="cancel-button">Cancel</a>
            </fieldset>
        </form>
    </body>
</html>