* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* border: 1px solid black; */
  background-color: #407294;
}

.main-logo {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

body {
  background-color: #f5f5f5;
}

/* Nav */

nav {
  display: flex;
  align-items: center;
}

nav a,
nav p {
  margin-left: 20px;
  text-decoration: none;
  color: #ffffff;
}

/* Index Page */

.message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.messages {
  /* border: 1px solid black; */
  width: 500px;
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  color: #333333;
}

.message-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.message-text {
  margin-bottom: 20px;
  background-color: #e5e5e5;
  border-radius: 10px;
  padding: 10px;
}

.messages-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  cursor: pointer;
  border: none;
}

.message-user {
  display: flex;
  align-items: center;
  text-align: right;
}

.message-user div {
  text-align: right;
}

.message-user-icon {
  margin-right: 5px;
  font-size: 12px;
}

/* Login Form */

.forms {
  width: 500px;
  margin: 60px auto;
  background-color: #ffffff;
  box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
  padding: 40px;
}

.forms h2 {
  text-align: center;
}

.info-fields {
  display: flex;
  flex-direction: column;
}

.info-fields label {
  margin: 10px 0;
}

.info-fields input {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin: 10px 0;
}

.info-fields textarea {
  resize: none;
  width: 100%;
  height: 100px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
}

.forms fieldset {
  border: none;
  margin: 20px 0;
}

.submit-button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

.cancel-button {
  border: 1px solid black;
  color: black;
  padding: 10px;
  text-decoration: none;
}

/* Errors */

.error-messages {
  color: red;
}
